/* app parts */

.st-app-header {
  background-color: #08734e;
  height: 45px;
  color: white;
  display: flex;
}

.st-app-title {
  font-size: 1em;
  font-family: "Roboto-thin", sans-serif;
  flex: 1;
  margin-left: 10px;
  margin-top: 5px;
}

.st-app-logo {
  width: 70px;
  height: 100%;
  background-color: #0c5c3e;
}

.st-app-logo img {
  height: 80%;
  padding-top: 6px;
  margin-left: 10px;
}

.st-app-main {
  padding: 1em;
  background-color: #262626;
  color: darkgrey;
  height: 100vh;
}

.st-level1-wrapper {
  display: flex;
  flex-direction: row;
}

/* order action section */

.order-action-wrapper {
}

.row {
  display: flex;
  display: row;
  align-content: stretch;
  align-items: stretch;
  margin-top: 0.5em;
  border: 0.15px solid #cccccc;
  padding: 20px;
}

.st-label-div {
  margin-right: 15px;
  flex: 0.05;
  font-size: 1em;
  font-family: "Roboto-thin", sans-serif;
  text-align: right;
}

.st-text-div {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1em;
  font-family: "Roboto-thin", sans-serif;
  text-align: right;
}

.st-input-div {
  margin-right: 10px;
}

.st-input-div input {
  margin-right: 10px;
  width: 100%;
  height: 1.25em;
}

.st-input-div input:disabled {
  background-color: gray;
}

.st-btn-div {
  height: 1.5em;
  flex: 0.25;
}

.st-btn-div button {
  height: 100%;
  width: 100%;
  font-size: 1em;
  font-family: "Roboto-light", sans-serif;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 15px;
  cursor: pointer;
  min-width: 140px;
  border: 2px solid #ff8c00;
  background: transparent;
  color: white;
}

.st-btn-div button:hover {
  background-color: #ffae4c;
  color: #262626;
}

.st-btn-div button:disabled {
  height: 100%;
  width: 100%;
  font-size: 1em;
  font-family: "Roboto-light", sans-serif;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 15px;
  cursor: default;
  min-width: 140px;
  border: 2px solid gray;
  background: gray;
}

/* orders section */

.st-orders-section-wrapper {
  width: 100%;
}

.st-section-title {
  height: 1.75em;
  margin-top: 5px;
  font-size: 1em;
  font-family: "Roboto-thin", sans-serif;
  padding-left: 10px;
  padding-top: 10px;
  color: #ffffff;
  border-top: 1px solid #ffffff;
}

.st-orders-header-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #08734e;
}

.st-orders-header-row div {
  height: 1.75em;
  margin-top: 5px;
  font-size: 1em;
  font-family: "Roboto-thin", sans-serif;
  padding-left: 10px;
  color: #ffffff;
}

.st-orders-header-row div:not(:first-child) {
  border-left: 1px solid #ffffff;
  height: 90%;
}

.st-orders {
  width: 100%;
  background-color: #ffffff;
  overflow-y: auto;
}

.orders-row {
  width: 100%;
  display: flex;
  height: 1.7em;
  padding-bottom: 12px;
}

.orders-row div {
  color: #262626;
  margin-top: 5px;
  padding-left: 10px;
  height: 100%;
}

.symbol-column-header {
  width: 13%;
}

.qty-column-header {
  width: 10%;
}

.price-column-header {
  width: 15%;
}

.stop-price-column-header {
  width: 15%;
}

.gain-column-header {
  width: 10%;
}

.gain-dollar-column-header {
  width: 10%;
}

.status-column-header {
  width: 25%;
}

.qty-column {
  width: 10%;
}

.symbol-column {
  width: 13%;
}

.price-column {
  width: 15%;
}

.stop-price-column {
  width: 15%;
}

.gain-column {
  width: 10%;
}

.gain-dollar-column {
  width: 10%;
}

.status-column {
  width: 25%;
}

.orders-row div:not(:first-child) {
  border-left: 1px solid #262626;
  height: 90%;
}

/* orders table action button */
.action-column-header {
  padding-right: 20px;
}

.st-action-column {
  padding-right: 20px;
}

.st-action-column button {
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid #ff8c00;
  width: 100%;
}

.st-action-column button:hover {
  background-color: #ffae4c;
}

.st-action-column button:disabled {
  border-radius: 3px;
  cursor: default;
  border: 2px solid gray;
  background-color: white;
  width: 100%;
}

/* ticker section */

.st-ticker-wrapper {
  display: flex;
  align-content: stretch;
  align-items: stretch;

  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
}

.st-ticker-price {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex: 1;
  margin-right: 30px;
}

.st-ticker-price-label {
  margin-right: 15px;
  margin-top: 1.2em;
  flex: 0.05;
  font-size: 1.5em;
  font-family: "Roboto-thin", sans-serif;
  text-align: right;
  min-width: 140px;
}

.st-ticker-price-value {
  border: 0.15px solid #cccccc;
  color: #ffffff;
  padding: 20px;
  background-color: #730863;
  font-size: 1.5em;
  font-family: "Roboto-thin", sans-serif;
  text-align: right;
  flex: 2;
}

.st-ticker-live {
  margin-top: 0.75em;
  padding: 20px;
  flex: 1;
}

.st-ticker-live input {
  width: 100%;
  height: 1.25em;
}

.st-sell-action {
  display: flex;
}

.st-sell-action input {
  height: 20px;
  margin-left: 4px;
}

.st-sell-action label {
  height: 25px;
  margin-left: 4px;
}

.st-sell-action button {
  margin-left: 4px;
  height: 25px;
  width: 120px;
}
